button {
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    height: 7em;
    width: 7em;
    cursor: pointer;
    border: none;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}