form {
    display: flex;
}

label {
    display: block;
}

button {
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    height: 7em;
    width: 7em;
    cursor: pointer;
    border: none;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

input {
    padding: 1em;
}

.invalid {
    border: 1px solid #b40e0e;
    color: #b40e0e;
}

.invalidText {
    color: #b40e0e;
}