.App {
    background-color: white;
    height: 35em;
    width: 45em;
    border-radius: 25px 25px 115px 25px;
    display: flex;
    flex-direction: column;
    padding: 3em;
}

@media only screen and (max-width: 1000px) {
    .App {
        width: 375px;
        padding: 0;
        height: auto;
    }
}